In [1]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.9.1-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: click in /opt/conda/lib/python3.11/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/conda/lib/python3.11/site-packages (from nltk) (1.3.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.9.11-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (40 kB)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.11/site-packages (from nltk) (4.66.1)
Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 435.1 kB/s eta 0:00:00a 0:00:01
Downloading regex-2024.9.11-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (792 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 792.8/792.8 kB 658.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: regex, nltk
Successfully installed nltk-3.9.1 regex-2024.9.11

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [9]:
import nltk
nltk.download('punkt')

nltk.download('punkt_tab')

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package punkt_tab to /home/jovyan/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [13]:
corpus = """Hawking began his schooling at the Byron House School in Highgate, London. 
He later blamed its "progressive methods" for his failure to learn to read while at the school. 
In St Albans, the eight-year-old Hawking attended St Albans High School for Girls for a few months. 
At that time, younger boys could attend one of the houses.
"""

In [14]:
print(corpus)

Hawking began his schooling at the Byron House School in Highgate, London.
He later blamed its "progressive methods" for his failure to learn to read while at the school.
In St Albans, the eight-year-old Hawking attended St Albans High School for Girls for a few months.
At that time, younger boys could attend one of the houses.

In [16]:
from nltk.tokenize import sent_tokenize

documents = sent_tokenize(corpus)
type(documents)

list

In [17]:
for sentence in documents:
    print(sentence)

Hawking began his schooling at the Byron House School in Highgate, London.
He later blamed its "progressive methods" for his failure to learn to read while at the school.
In St Albans, the eight-year-old Hawking attended St Albans High School for Girls for a few months.
At that time, younger boys could attend one of the houses.

In [18]:
from nltk.tokenize import word_tokenize

for sentence in documents:
    print(word_tokenize(sentence))

#word_tokenize(corpus)

['Hawking', 'began', 'his', 'schooling', 'at', 'the', 'Byron', 'House', 'School', 'in', 'Highgate', ',', 'London', '.']
['He', 'later', 'blamed', 'its', '``', 'progressive', 'methods', "''", 'for', 'his', 'failure', 'to', 'learn', 'to', 'read', 'while', 'at', 'the', 'school', '.']
['In', 'St', 'Albans', ',', 'the', 'eight-year-old', 'Hawking', 'attended', 'St', 'Albans', 'High', 'School', 'for', 'Girls', 'for', 'a', 'few', 'months', '.']
['At', 'that', 'time', ',', 'younger', 'boys', 'could', 'attend', 'one', 'of', 'the', 'houses', '.']

In [19]:
from nltk.tokenize import wordpunct_tokenize

wordpunct_tokenize(corpus)

['Hawking',
 'began',
 'his',
 'schooling',
 'at',
 'the',
 'Byron',
 'House',
 'School',
 'in',
 'Highgate',
 ',',
 'London',
 '.',
 'He',
 'later',
 'blamed',
 'its',
 '"',
 'progressive',
 'methods',
 '"',
 'for',
 'his',
 'failure',
 'to',
 'learn',
 'to',
 'read',
 'while',
 'at',
 'the',
 'school',
 '.',
 'In',
 'St',
 'Albans',
 ',',
 'the',
 'eight',
 '-',
 'year',
 '-',
 'old',
 'Hawking',
 'attended',
 'St',
 'Albans',
 'High',
 'School',
 'for',
 'Girls',
 'for',
 'a',
 'few',
 'months',
 '.',
 'At',
 'that',
 'time',
 ',',
 'younger',
 'boys',
 'could',
 'attend',
 'one',
 'of',
 'the',
 'houses',
 '.']

In [21]:
from nltk.tokenize import TreebankWordTokenizer

tokenizer = TreebankWordTokenizer()
tokenizer.tokenize(corpus)

['Hawking',
 'began',
 'his',
 'schooling',
 'at',
 'the',
 'Byron',
 'House',
 'School',
 'in',
 'Highgate',
 ',',
 'London.',
 'He',
 'later',
 'blamed',
 'its',
 '``',
 'progressive',
 'methods',
 "''",
 'for',
 'his',
 'failure',
 'to',
 'learn',
 'to',
 'read',
 'while',
 'at',
 'the',
 'school.',
 'In',
 'St',
 'Albans',
 ',',
 'the',
 'eight-year-old',
 'Hawking',
 'attended',
 'St',
 'Albans',
 'High',
 'School',
 'for',
 'Girls',
 'for',
 'a',
 'few',
 'months.',
 'At',
 'that',
 'time',
 ',',
 'younger',
 'boys',
 'could',
 'attend',
 'one',
 'of',
 'the',
 'houses',
 '.']